.dashboard {
    overflow-x: hidden;
}
.commision-paid {
    margin-top: -15px;
}

/*  Mobile  */

@media only screen and (max-width: 770px) {
    .dashboard {
        width: 100vw !important;
        margin-left: -20px;
        padding-left: 30px !important;
        padding-bottom: 30px;
    }
    .dashboard>h3 {
        padding-left: 0 !important;
    }
    .card {
        width: 100%;
    }
    .recent-clients {
        display: none !important;
    }
    .total-title {
        display: none;
    }
    .total-text {
        display: none;
    }
    .commision-container {
        margin-top: 300px;
    }
}
