
.forget-password-container {
    height: 100vh;
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.forget-password-wrapper {
    width: 400px;
}
.forget-password-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.forget-password-title {
    font-size: 17px;
    padding: 20px;
}
.email-form-container {
    width: 400px;
}
.email-form-input {
    width: 95%;
}
.forget-message-error {
    width: 400px;
    text-align: center;
}
