
.table-container {
    width: 98%;
    min-width: 1500px !important;
}
.more-info-section {
    width: 130px !important;
}
.date-created-section {
    min-width: 130px !important;
}
.approximate-funding-section {
    min-width: 200px !important;
}
.name-section {
    min-width: 180px !important;
}

/*  Mobile  */

@media only screen and (max-width: 770px) {
    .quotes>h3 {
        margin-top: -20px !important;
    }
}
